# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# demo web site
/demo/www
/dome/zone
/demo/**/*.html

# build file
*.o
*.exe

# vscode config
/.vscode

# old code file
_*.go
demo/zone/index.html

# vscode congig
.vscode

# backup zip file
Rango.zip
rango.zip

# example
example/imgs
